---
title: About
heading: Carl Moebis
subtitle: >-
  My background with graphic arts, programming and networking was an ideal fit
  for settling into a creative solutions provider career with my main focus on
  web technologies. My proficiencies include all major CMS such as: Joomla,
  Drupal, WordPress and Ghost. All HTML 5 and CSS 3 compliant including node.js
  and twitter bootstrap where applicable. I have a particular fondness of new
  web technologies. I currently work in marketing and communications, where I
  bring the full depth of my eclectic talents to bear on various campaigns. No
  other field of work can draw from so many skillsets at once.
---

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<ul class="image-grid">
			{% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>
	</div>
</section>
